In [1]:
import pandas as pd
import json

#Reading the json file and parsing the data
file = open('employee.json', 'r')
data = json.load(file)
data = data['objects']

In [2]:
df = pd.DataFrame(data)

In [3]:
#the employee whose id is 8.

df['ID'] = df['ID'].astype(int)
df[df['ID'] == 8]

   ID     JobTitle                   EmailAddress FirstNameLastName vaccinated
7   8  Audiologist  Michaela_Little1010@yahoo.com   Michaela Little       True

In [4]:
#storing the headers (column names) in a separate list

headers = df.columns.tolist()
headers

['ID', 'JobTitle', 'EmailAddress', 'FirstNameLastName', 'vaccinated']

In [5]:

import sqlite3

# create a DB
connection = sqlite3.connect('data.db')

# creating a cursor object
cursor = connection.cursor()

# Create table
create_table = f"CREATE TABLE IF NOT EXISTS employee ({', '.join(headers)})"
cursor.execute(create_table)

# Commit changes and close connection
connection.commit()
connection.close()

print("Table 'employee' created successfully.")

Table 'employee' created successfully.

In [6]:
# Convert data into nested list
nested_data = [[employee[col] for col in headers] for employee in data]

# Establish connection again
connection = sqlite3.connect('data.db')
cursor = connection.cursor()

# Insert data into table
insert_query = f"INSERT INTO employee ({', '.join(headers)}) VALUES ({', '.join(['?']*len(headers))})"
cursor.executemany(insert_query, nested_data)

# Commit changes and close connection
connection.commit()
connection.close()

print("Data inserted into 'employee' table.")

Data inserted into 'employee' table.

In [7]:
# Connect to database and fetch data
connection = sqlite3.connect('data.db')
query = "SELECT * FROM employee"
df = pd.read_sql_query(query, connection)

# Close connection
connection.close()

print("Data read into pandas DataFrame:")
print(df.head())

Data read into pandas DataFrame:
  ID          JobTitle                    EmailAddress FirstNameLastName  \
0  1          Designer      Leroy_Yarlett52@guentu.biz     Leroy Yarlett
1  2         Webmaster  Julian_Gonzales8496@famism.biz   Julian Gonzales
2  3         Paramedic    George_Porter6363@deons.tech     George Porter
3  4  IT Support Staff   Penny_Reynolds8665@supunk.biz    Penny Reynolds
4  5           Dentist    Gabriel_Upton1432@bungar.biz     Gabriel Upton

  vaccinated
0      False
1       True
2      False
3      False
4       True

In [8]:
# Adding bonus for vaccinated employees
def calculate_bonus(vaccinated):
    return 15 if vaccinated == 'True' else 5

#create new column
df['bonus percent'] = df['vaccinated'].apply(calculate_bonus)

print("DataFrame with bonus percent column added:")
print(df.head())

DataFrame with bonus percent column added:
  ID          JobTitle                    EmailAddress FirstNameLastName  \
0  1          Designer      Leroy_Yarlett52@guentu.biz     Leroy Yarlett
1  2         Webmaster  Julian_Gonzales8496@famism.biz   Julian Gonzales
2  3         Paramedic    George_Porter6363@deons.tech     George Porter
3  4  IT Support Staff   Penny_Reynolds8665@supunk.biz    Penny Reynolds
4  5           Dentist    Gabriel_Upton1432@bungar.biz     Gabriel Upton

  vaccinated  bonus percent
0      False              5
1       True             15
2      False              5
3      False              5
4       True             15

In [9]:
#Exporting custom data into excel  
excel_file = 'employee.xlsx'
df.to_excel(excel_file, index=False)

print(f"DataFrame exported to {excel_file}.")

DataFrame exported to employee.xlsx.